Package: com.level3tjg.twitchloginfix
Name: TwitchLoginFix
Version: 0.0.3
Architecture: iphoneos-arm
Description: Allow logging in on older Twitch app versions
Depiction: https://level3tjg.me/repo/depictions/?p=com.level3tjg.twitchloginfix
Maintainer: level3tjg
Author: level3tjg
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
